@import "tailwindcss";

@import './fonts.css';

@theme {
  --font-sans: InterVar, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;
  --font-display: "Space Grotesk", InterVar, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;

  /* (opcional) tokens de tipografia para markdown */
  --spacing-reading: 2rem;
}

@tailwind utilities;

/* Base global */
@layer base {
  html, body { @apply font-sans antialiased text-zinc-800 dark:text-zinc-200 bg-white dark:bg-zinc-950 overflow-x-clip; }
  h1,h2,h3,h4,h5,h6 { @apply font-display tracking-tight; }
  code,kbd,samp,pre { @apply font-mono; }
}
